.dice-game{
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #00203FFF;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #ADEFD1FF;
}

p {
  font-size: 2rem;
  color: #ADEFD1FF;
  font-family: 'Arial','Helvetica', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: "Copperplate",fantasy;

}
.footer-content{
    font-family: "Copperplate",fantasy;
    color:#4ECCA3;
}
